*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:#3b5d50;
    color:white;
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo{
    font-size:24px;
    font-weight:700;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links li{
    cursor:pointer;
    opacity:0.8;
}

.nav-links li.active{
    border-bottom:3px solid #f9bf29;
    padding-bottom:5px;
    opacity:1;
}

.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px;
}

.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:40px;
    margin-bottom:20px;
}

.hero-text p{
    font-size:14px;
    opacity:0.8;
    margin-bottom:25px;
}


.buttons{
    display:flex;
    gap:15px;
}

.shop{
    background:#f9bf29;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    font-weight:600;
    cursor:pointer;
}

.explore{
    background:transparent;
    border:2px solid white;
    color:white;
    padding:12px 25px;
    border-radius:25px;
    cursor:pointer;
}


.hero-image img{
    width:450px;
}

.products{
    background:#f1f1f1;
    padding:80px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}

.product-text{
    max-width:300px;
}

.product-text h2{
    color:#222;
    font-size:28px;
    margin-bottom:15px;
}

.product-text p{
    color:#666;
    font-size:14px;
    margin-bottom:20px;
}

.explore-btn{
    background:black;
    color:white;
    padding:10px 25px;
    border:none;
    border-radius:25px;
    cursor:pointer;
}


.product-cards{
    display:flex;
    gap:30px;
}

.card{
    background:white;
    padding:20px;
    text-align:center;
    border-radius:15px;
    width:220px;
    transition:0.4s ease;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    cursor:pointer;
}

.card img{
    width:150px;
    margin-bottom:15px;
}

.card h3{
    color:#222;
    font-size:16px;
    margin-bottom:5px;
}

.card p{
    color:#3b5d50;
    font-weight:600;
}


.card:hover{
    transform:translateY(-15px);
    box-shadow:0 15px 25px rgba(0,0,0,0.2);
}
